<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProgramForGarazhFinal.Properties.Settings.GarazhConnectionString"
            connectionString="Data Source=desktop-cll876e\sqlexpress;Initial Catalog=Garazh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>